<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/layout :: head('Control de Pedidos')}"></th:block>
    <link rel="stylesheet" th:href="@{/css/ordermanagement.css}">
</head>

<body>
<div th:replace="~{fragments/navbar-admin :: navbar}"></div>
<!-- Sidebar a la izquierda -->
<div th:replace="~{fragments/sidebar-admin :: sidebar}"></div>
<main class="page-shell">
        <section class="content">
            <header class="content-header">
                <h1>PEDIDOS</h1>
                <p>Gestión y cambio de estados</p>
            </header>

            <section class="orders-card">
                <div class="orders-title">📦 REPORTES PEDIDOS</div>

                <table>
                    <thead>
                    <tr>
                        <th>N° ORDEN</th>
                        <th>CLIENTE</th>
                        <th>FECHA</th>
                        <th>PRODUCTOS</th>
                        <th>ESTADO</th>
                        <th>TOTAL</th>
                        <th>ACCION</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><a href="#">ORD-2026-001</a></td>
                        <td>Adrian Cliente</td>
                        <td>13/04/2026</td>
                        <td>Panel HMI 7", PLC S7-300</td>
                        <td><span class="status">● Entregado</span></td>
                        <td>S/ 2147.25</td>
                        <td><button type="button" class="complete-btn">✓ Completo</button></td>
                    </tr>

                    <tr>
                        <td><a href="#">ORD-2026-001</a></td>
                        <td>Adrian Cliente</td>
                        <td>13/04/2026</td>
                        <td>Panel HMI 7", PLC S7-300</td>
                        <td><span class="status">● Entregado</span></td>
                        <td>S/ 2147.25</td>
                        <td><button type="button" class="complete-btn">✓ Completo</button></td>
                    </tr>

                    <tr>
                        <td><a href="#">ORD-2026-001</a></td>
                        <td>Adrian Cliente</td>
                        <td>13/04/2026</td>
                        <td>Panel HMI 7", PLC S7-300</td>
                        <td><span class="status">● Entregado</span></td>
                        <td>S/ 2147.25</td>
                        <td><button type="button" class="complete-btn">✓ Completo</button></td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </section>
</main>

<script th:src="@{/js/ordermanagement.js}"></script>
</body>

</html>
