<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/layout :: head('Control de Pedidos')}"></th:block>
    <link rel="stylesheet" th:href="@{/css/ordermanagement.css}">
</head>

<body>

<div th:replace="~{fragments/navbar-admin :: navbar}"></div>

<main class="admin-page">

    <div class="admin-shell">

        <!-- Sidebar -->
        <div th:replace="~{fragments/sidebar-admin :: sidebar(activeLink='ordermanagement')}"></div>

        <!-- Contenido -->
        <section class="content">

            <header class="content-header">
                <h1>PEDIDOS</h1>
                <p>Gestión y cambio de estados</p>
            </header>

            <section class="orders-card">

                <div class="orders-title">
                    📦 REPORTES PEDIDOS
                </div>

                <table>
                    <thead>
                    <tr>
                        <th>N° ORDEN</th>
                        <th>CLIENTE</th>
                        <th>FECHA</th>
                        <th>PRODUCTOS</th>
                        <th>ESTADO</th>
                        <th>TOTAL</th>
                        <th>ACCION</th>
                    </tr>
                    </thead>

                    <tbody id="orderTableBody">

                    <tr>
                        <td colspan="7">
                            Cargando pedidos...
                        </td>
                    </tr>

                    </tbody>

                </table>

            </section>

        </section>

    </div>

</main>

<script type="module" th:src="@{/js/order-management.js}"></script>
<script type="module" th:src="@{/js/session.js}"></script>

</body>
</html>